@use "sass:map";
@use "../core/typography/typography";

@mixin _color($color-config) {
  .ui-icon {
    color: map.get($color-config, primary-color);
  }
}

@mixin _typography($typography-config) {
}

@mixin theme($theme) {
  $color-config: map.get($theme, color-config);
  $typography-config: map.get($theme, typography-config);

  @include _color($color-config);
  @include _typography($typography-config);
}
