@use "sass:map";

@mixin theme($theme) {
  .ui-button {
    background-color: map.get($theme, primary-color);
    color: map.get($theme, text-color);
  }
}

@mixin typography($theme) {
  .ui-button {
    font: {
      family: 'Roboto', sans-serif;
      size: 12px;
      weight: 400;
    }
  }
}
